<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

   <test thread-count="5" name="Smoke Test">
		<classes>
		<class name="OrangeHRM.OrangeHRMTest"/>
		<class name="OrangeHRM.SmokeTests"/>
		<class name="testingCodes.DemoNop1"/>
		<class namee="testDemo2.GroupTest"/>
		<class name="testDemo2.MultipleGroups"/>
		<class name="Testdemo.AnnotationsWebOrders"/>
		
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


  
    
   		
